
body{
  margin:0;
  padding:0;
}
.main{
  margin:0;
  padding:0;
  background-color: rgb(209, 57, 164);
  background-position: center;
  width:100%;
  height: 109vh;
}

.App {
  height: 100vh; 
  width: 100vw;
  overflow: auto; 
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.teacher-list {
  display: flex;
  flex-direction: column; /* Display buttons vertically */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.short-input {
  width: 50px; /* Adjust the width as needed */
}

button {
  border: none;
  cursor: pointer;
  width: 150px;
  height: 30px;
  margin-bottom: 3px;
  border-radius: 5px; 
}

.grade-button{
  width: 60px;
  background-color: transparent;
}

input {
  width: 150px;
}


table {
  border-collapse: collapse;
  width: 100%; /* Set table width to 100% */
}

table, th, td {
  border: 1px solid black; /* Border for table, th, and td */
}

th, td {
  padding: 6px; /* Padding for cells */
  text-align: center; /* Align text to the left */
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row background color */
}

th:last-child {
  border-left: none;
  border-top: none;
  border-bottom: none;
  text-align: left;
}